<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inlearning.app">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".student.person.MineDiscussActivity"></activity>
        <activity android:name=".student.course.func.discuss.DiscussDetailActivity" />
        <activity android:name=".teacher.classes.coursetask.task.StuHomeworkActivity" />
        <activity android:name=".teacher.classes.coursetask.task.HomeworkDetailActivity" />
        <activity android:name=".teacher.classes.coursetask.CourseTaskActivity" />
        <activity android:name=".teacher.classes.coursetask.ChapterActivity" />
        <activity android:name=".director.person.coursemanager.classes.organize.OrganizeListActivity" />
        <activity android:name=".director.person.coursemanager.classes.ClassCourseActivity" />
        <activity android:name=".director.person.coursemanager.classes.ClassListActivity" />
        <activity android:name=".director.person.coursemanager.speciality.CourseActivity" />
        <activity android:name=".director.person.coursemanager.speciality.SpecialityScheduleActivity" />
        <activity android:name=".director.person.coursemanager.CourseManagerActivity" />
        <activity android:name=".director.speciality.SpecialityAddClassActivity" />
        <activity android:name=".director.teacher.TeacherEditActivity" />
        <activity android:name=".director.person.specialitymanager.SpecialityEditActivity" />
        <activity android:name=".director.person.specialitymanager.SpecialityManagerActivity" />
        <activity android:name=".director.speciality.classinfo.StudentExcelImportActivity" />
        <activity android:name=".director.speciality.classinfo.StudentSingleImportActivity" />
        <activity android:name=".director.course.CourseExcelImportActivity" />
        <activity android:name=".director.teacher.TeacherExcelImportActivity" />
        <activity android:name=".director.speciality.classinfo.StudentSearchActivity" />
        <activity android:name=".director.teacher.TeacherSingleImportActivity2" />
        <activity android:name=".director.course.CourseSingleImportActivity2" />
        <activity android:name=".director.speciality.SpecialitySingleImportActivity" />
        <activity android:name=".director.course.CourseSearchActivity" />
        <activity android:name=".director.speciality.SpecialityClassSearchActivity" />
        <activity android:name=".director.teacher.TeacherSearchActivity" />
        <activity android:name=".director.speciality.classinfo.StudentEditActivity" />
        <activity android:name=".director.speciality.classinfo.ClassInfoActivity" />
        <activity android:name=".director.course.CourseEditActivity" />
        <activity android:name=".director.DirectorHomeActivity" />
        <activity
            android:name=".teacher.attendclass.func.ChapterFunctionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".teacher.attendclass.CourseChapterActivity" />
        <activity android:name=".teacher.TeacherHomeActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".student.StudentHomeActivity" />
        <activity android:name=".student.course.CourseChapterActivity" />
        <activity android:name=".student.course.func.ChapterFunctionActivity" />
        <activity
            android:name=".student.course.func.video.StuVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity android:name=".teacher.attendclass.func.discuss.DiscussDetailActivity" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.inlearning.app.BmobContentProvider" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.inlearning.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>