<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inlearning.app">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".director.speciality.SpecialityAddClassActivity"></activity>
        <activity android:name=".director.teacher.TeacherEditActivity" />
        <activity android:name=".director.person.SpecialityEditActivity" />
        <activity android:name=".director.person.SpecialityManagerActivity" />
        <activity android:name=".director.speciality.classinfo.StudentExcelImportActivity" />
        <activity android:name=".director.speciality.classinfo.StudentSingleImportActivity" />
        <activity android:name=".director.course.CourseExcelImportActivity" />
        <activity android:name=".director.teacher.TeacherExcelImportActivity" />
        <activity android:name=".director.speciality.classinfo.StudentSearchActivity" />
        <activity android:name=".director.teacher.TeacherSingleImportActivity2" />
        <activity android:name=".director.course.CourseSingleImportActivity2" />
        <activity android:name=".director.speciality.SpecialitySingleImportActivity" />
        <activity android:name=".director.course.CourseSearchActivity" />
        <activity android:name=".director.speciality.SpecialityClassSearchActivity" />
        <activity android:name=".director.teacher.TeacherSearchActivity" />
        <activity android:name=".director.speciality.classinfo.StudentInfoActivity" />
        <activity android:name=".director.speciality.classinfo.ClassInfoActivity" />
        <activity android:name=".student.ui.QuestionActivity" />
        <activity
            android:name=".student.ui.ClassRoomActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity android:name=".student.ui.CourseSearchActivity" />
        <activity android:name=".student.ui.CourseTaskActivity" />
        <activity android:name=".student.ui.ExerciseActivity" />
        <activity android:name=".student.ui.NoteListActivity" />
        <activity android:name=".student.ui.HomeworkListActivity" />
        <activity android:name=".student.ui.ClassListActivity" />
        <activity android:name=".student.ui.StudentHomeActivity" />
        <activity android:name=".student.ui.LaunchActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".teacher.ui.TeacherHomeActivity" />
        <activity android:name=".director.DirectorHomeActivity" />
        <activity android:name=".director.course.CourseEditActivity" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.inlearning.app.BmobContentProvider" />
    </application>

</manifest>